@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
.dark-theme {
    --background-color: #202225;

    --sidebar_color: #202225;
    --channels-color: #2e3136;
    --content-color: #36393e;
    --profile-color: #282b2f;

    --channels-text-color: #8e9297;

    --scrollbar-thumb: #202225;
}
.light-theme {
    --background-color: #fff;

    --sidebar-color: #e2e5e8;
    --channels-color: #f2f3f5;
    --content-color: #fff;
    --profile-color: #eaedef;

    --channels-text-color: #6a7480;

    --scrollbar-thumb: #4f545c;
}

html, body {
    --channels-size: 240px;

    min-height: 100% !important;
    height: 100%;
    background-color: var(--background-color);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.channels::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track {
    border-color: transparent;
    background-color: transparent;
    border: 2px solid transparent;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: var(--scrollbar-thumb);
    min-height: 40px;
}
/**/

body {
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.main-grid {
    display: grid;
    gap: 0;
    height: 100%;
    grid-template-columns: 72px 1fr;
    grid-auto-rows: 100%;
    /*grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));*/
}


.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.innergrid {
    justify-content: flex-start;
    align-items: stretch;  
}

.sidebar {
    background-color: var(--sidebar_color);
}
.channels {
    background-color: var(--channels-color);
}
.channels:not(.top) {
    overflow-y: scroll;
    padding-right: 12px;
    color: var(--channels-text-color);

}
.content {
    background-color: var(--content-color);
    overflow-y: scroll;
}
.profile {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    background-color: var(--profile-color);
    width: var(--channels-size);
    height: 52px;
    border-top: 2px solid var(--content-color);
}
.second-grid {
    display: grid;
    gap: 0;
    height: 100%;
    grid-template-columns: var(--channels-size) 1fr;
    grid-template-rows: 48px 1fr;
}

.channelitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
}

.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }

 .top {
    z-index: 2;
    box-shadow: 0 2px 4px var(--sidebar_color);
    overflow: hidden;
}