<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Document</title>
</head>
<body>
    <section class="main-grid">
        <div class="grid-item sidebar">1</div>
        <div class="grid-item second-grid innergrid">
            <div class="channels top">2</div>
            <div class="content top">4</div>
            <div class="channels">3
                
            </div>
            <div class="content">5</div>
        </div>
    </section>
</body>
</html>