<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Document</title>
</head>
<body class="dark-theme">
    <section class="main-grid">

        <div class="sidebar">sidebar</div>

        <div class="channels top">channels-top</div>
        <div class="content top">content-top</div>

        <div class="channels">
            {% block channels %}{% endblock %}
        </div>

        <div class="profile">profile</div>
        <div class="content">content</div>

    </section>
</body>
</html>